In [19]:
import pandas as pd

In [187]:
def clean_data(raw_csv):
    # Read in csv and drop na
    csv = pd.read_csv(raw_csv,infer_datetime_format=True)
    csv = csv.dropna()

    # Create mask from beginning to end of analyzed period
    # Citation: https://www.interviewqs.com/ddi_code_snippets/select_pandas_dataframe_rows_between_two_dates
    csv['timestamp'] = pd.to_datetime(csv['timestamp'])
    start_date = '01-01-20 00:00:01'
    end_date = '08-10-20 23:59:59'
    mask = (csv['timestamp'] > start_date) & (csv['timestamp'] <= end_date)
    csv = csv[mask]

    #Citation: https://stackoverflow.com/questions/35595710/splitting-timestamp-column-into-separate-date-and-time-columns
    csv['date'] = [d.date() for d in csv['timestamp']]
    csv['time'] = [d.time() for d in csv['timestamp']]
    csv = csv.drop(columns=['timestamp','time'])
    csv["date"].drop_duplicates(inplace=True)
    return csv

In [188]:
clean_data("../data/rawdata/ABB.csv")

       users_holding        date
14083           2149  2020-01-01
14084           2149  2020-01-01
14085           2149  2020-01-01
14086           2149  2020-01-01
14087           2149  2020-01-01
...              ...         ...
19737           3575  2020-08-10
19738           3576  2020-08-10
19739           3576  2020-08-10
19740           3574  2020-08-10
19741           3574  2020-08-10

[5659 rows x 2 columns]