In [286]:
import pandas as pd

In [317]:
def clean_data(raw_csv):
    # Read in csv and drop na
    csv = pd.read_csv(raw_csv,infer_datetime_format=True)
    csv = csv.dropna()

    # Create mask from beginning to end of analyzed period
    # Citation: https://www.interviewqs.com/ddi_code_snippets/select_pandas_dataframe_rows_between_two_dates
    csv['timestamp'] = pd.to_datetime(csv['timestamp'])
    start_date = '01-01-20 00:00:01'
    end_date = '08-10-20 23:59:59'
    mask = (csv['timestamp'] > start_date) & (csv['timestamp'] <= end_date)
    csv = csv[mask]

    # # If you run into trouble plotting with the time in the timestamps, uncommenting this will return only the date entries
    # # We can decide whether we want to keep the first or last of the duplicates depending on how our data shapes out
    # # Citation: https://stackoverflow.com/questions/35595710/splitting-timestamp-column-into-separate-date-and-time-columns
    # csv['date'] = [d.date() for d in csv['timestamp']]
    # csv['time'] = [d.time() for d in csv['timestamp']]
    # csv = csv.drop(columns=['timestamp','time'])
    # csv.set_index('date',drop=True, inplace=True)

    new_csv = raw_csv.replace(".csv", "_csv")
    new_csv = new_csv.replace("../data/rawdata/","")
    csv.to_csv(f"../data/cleandata/{new_csv}_clean.csv")
    return csv

In [318]:
clean_data("../data/rawdata/ABB.csv")

                timestamp  users_holding
14083 2020-01-01 00:46:09           2149
14084 2020-01-01 01:46:06           2149
14085 2020-01-01 02:46:03           2149
14086 2020-01-01 03:46:09           2149
14087 2020-01-01 04:45:49           2149
...                   ...            ...
19737 2020-08-10 19:45:15           3575
19738 2020-08-10 20:44:59           3576
19739 2020-08-10 21:45:16           3576
19740 2020-08-10 22:44:52           3574
19741 2020-08-10 23:44:53           3574

[5659 rows x 2 columns]